// utils/_variables.scss

$font-family: "Nunito", sans-serif;
$body-background: #f8f9fa;
$color-background: #f0f8ff;
$service-background: #deefff;
$service-item-background: #0404296c;
$color-text: #30303b;
$color-overlay: #c9cbf7c7;
$color-footer-bg: #010440;
$color-white-text: #ffffff;
$color-footer-hover: #0abde5;
$color-footer-social: #12a4dd;
$color-footer-social-hover: #010440;
$color-contact-bg: #022ef050;
$color-contact-gradient-start: #bf6450;
$color-contact-gradient-end: #010440;
$color-link: #007bff;
$color-link-hover: #0056b3;
$color-grey: #6c757d;
$color-border: #b9babd;
$color-client-overlay-bg: #00000099;
$color-blog-title-hover: #014691;




// Add other variables as needed
